.flex-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 600px;
  }
  
  .registration-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color:brown;
    /* text-align: center; */
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .register-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: darkblue;
  }

  .error-message {
    color: rgb(10, 9, 9);
    font-size: 12px;
    margin-top: 5px;
  }

  .gender-radio {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .gender-radio input {
    margin: 0 5px;
  }
  
  .interest-checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .interest-checkbox input {
    margin: 0 5px;
  }
  
  .submitted-data {
    text-align: center;
    margin-top: 20px;
  }
  
  .submitted-data p {
    margin: 5px 0;
  }